<body class="body">
    <header class="register_header"> 
        <nav class="register_nav list_style_none"> 
                <li><a class="td_none" href="./index.html"><img src="./img/back.svg" alt=""></a> </li>
                <li><a class="td_none register_font1" href="./register.html">REGISTER</a> </li>
                <li><a class="td_none register_font2" href="./land.html">Next</a> </li>
        </nav>
    </header>

  <%= form_with(model: payment) do |form| %>
    <% if payment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

        <ul>
          <% payment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="register_fieldset"> 
      <%= form.text_field :name, placeholder:"Name"  %>
    </div>

    <div class="register_fieldset"> 
      <%= form.number_field :amount, placeholder:"Amount" %>
    </div>

    <div class="register_fieldset"> 
      <%= form.check_box :category_id %>
    </div> 

    <div class="actions register_fieldset">
      <%= form.submit class:"login_input login_footer_fieldset" %>
    </div>
    
  <% end %> 

</body> 

 
    
<%# 


    <main class="register_main">

        <fieldset class="register_fieldset"> 
            <div>
                <input type="checkbox">
                <input type="checkbox">
            </div>

            <input type="text" placeholder="Amount">  
        </fieldset> 
        
    </main> 

 %>
